process.executor = 'slurm'
// process.queue = 'serial'
dag.enabled = true
dag.overwrite = true
apptainer.enabled =  true
apptainer.autoMounts =  true
// apptainer.runOptions = "-f"
trace.overwrite = true
// report.overwrite = true
 
params {

basedir=""

input.list= ""

output= ""

cadd_filter= "15"

pyR= ""

genepy_py = "${params.basedir}/templates/genepy.py"

}

 env {
     HOME="$PWD"
}

report {
    enabled = true
    file = "${params.output}/Report_${params.chr}.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.output}/Timeline_${params.chr}.html"
    overwrite = true
}
 
profiles {
    // Local profile with specific container paths
    local {
      process {
          withName:Genepy_score {
              containerOptions = "-B ${params.output},${params.genepy_py} -f"
              clusterOptions = '--nodes=1 --time=48:00:00'
              cpus = 22
              memory = "64 GB"
              container = params.pyR
          }
      }
    }
    

    dockerhub { 
      process {
            withName:Genepy_score {
                containerOptions = "-B ${params.output},${params.genepy_py} -f"
                clusterOptions = '--nodes=1 --time=48:00:00'
                cpus = 22
                memory = "64 GB"
                container = 'docker://parsboy66/rnaseq:updated'
            }
        }
      }
    }
